@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <link href="~/Content/index.css" rel="stylesheet" />
}
<div class="jumbotron">
    <h1>Rutina</h1>
    <p>Aqui tu rutina diaria</p>
    <a href="/Home/RutinaDelDia">Ver la rutina</a>
</div>

<div class="row_full_center_content clearfix">
    <div class="text-center col-md-4 col-md-offset-0 col-xs-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="wpb_content_element featured-box ">
                    <div class="featured-box-thumb">
                        <a href="#"><img src="~/Content/images/original.jpg" width="250" height="200"></a>
                    </div>
                    <div class="featured-box-content">
                        <h4>Consejos</h4>
                        <div class="featured-box-desc">
                            <p>Realizar actividades de forma repetida (varias veces por semana)ayuda a que nos sintamos mejor.</p>
                        </div>
                        <div class="featured-box-button">
                            <a href="#" class="">MAS INFO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center col-md-4 col-md-offset-0 col-xs-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="wpb_content_element featured-box ">
                    <div class="featured-box-thumb">
                        <a href="#"><img src="~/Content/images/Mueculacion_atajos.png" /></a>
                    </div>
                    <div class="featured-box-content">
                        <h4>Musculacion</h4>
                        <div class="featured-box-desc">
                            <p>La musculación es una disciplina muy compleja, requiere tiempo, dedicación y esfuerzo. En nuestra sección de musculación tienes todo lo que necesitas para conseguir tus objetivos de entrenamiento..</p>
                        </div>
                        <div class="featured-box-button">
                            <a href="#" class="">MAS INFO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center col-md-4 col-md-offset-0 col-xs-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="wpb_content_element featured-box ">
                    <div class="featured-box-thumb">
                        <a href="~#"><img src="http://gimnasiocityhall.com/wp-content/uploads/2015/02/Spinning_atajos.png"></a>
                    </div>
                    <div class="featured-box-content">
                        <h4>Spinning</h4>
                        <div class="featured-box-desc">
                            <p>El spinning consiste en un programa de entrenamiento sistematizado, riguroso y controlado.</p>
                        </div>
                        <div class="featured-box-button">
                            <a href="#" class="">MAS INFO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>