

@{
    ViewBag.Title = "RutinaDelDia";
}

@section styles{
    <link href="~/Content/rutina2.css" rel="stylesheet" />
}



<h3>Rutina del dia</h3>
<table class="table table-bordered table-inverse">
    <thead>
        <tr>
            <th>Calentamiento</th>
            <th>pierna</th>
            <th>pecho </th>
            <th>triceps</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">10 min bici</th>
            <td>sillon</td>
            <td>press plano</td>
            <td>patada burro</td>

        </tr>
        <tr>
            <th scope="row">3x20 elevacion de piernas</th>
            <td>prensa</td>
            <td>press plano</td>
            <td colspan="2">patada burro</td>
        </tr>
        <tr>
            <th scope="row">3x20 visagras</th>
            <td>sentadilla</td>
            <td>press plano</td>
            <td></td>

        </tr>
        <tr>
            <th scope="row">3x 30seg plancha</th>
            <td></td>
            <td>press plano</td>
            <td></td>

        </tr>
    </tbody>
</table>
