
@{
    ViewBag.Title = "Piernas";
}


<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="herald-post-thumbnail herald-format-icon-middle">

            <img class="img-circle" align="left" src="~/Content/images/Pecho/Alternate-Dumbbell-Flys-900x600-300x200.jpg" alt="" width="140" height="140">
            <h3>Apertura plano con mancuernas</h3>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="herald-post-thumbnail herald-format-icon-middle">
            <img class="img-circle" align="left" src="~/Content/images/Pecho/Decline-Bench-Press-900x600.jpg" alt="" width="140" height="140">
            <h3>Press declinado</h3>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="herald-post-thumbnail herald-format-icon-middle">
            <img class="img-circle" align="left" src="~/Content/images/Pecho/Dumbbell-Bench-Press-900x600 (1).jpg" alt="" width="140" height="140">
            <h3>Press plano con mancuerna</h3>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="herald-post-thumbnail herald-format-icon-middle">
            <img class="img-circle" align="left" src="~/Content/images/Pecho/Dumbbell-Flys-900x600.jpg" alt="" width="140" height="140">
            <h3>apertura pres plano</h3>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="herald-post-thumbnail herald-format-icon-middle">
            <img class="img-circle" align="left" src="~/Content/images/Pecho/Incline-Dumbbell-Flys-900x600.jpg" alt="" width="140" height="140">
            <h3>Apertura declinado con mancuerna</h3>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="herald-post-thumbnail herald-format-icon-middle">
            <img class="img-circle" align="left" src="~/Content/images/Pecho/Pec-Dec-900x600.jpg" alt="" width="140" height="140">
            <h3>Mariposa</h3>
        </div>
    </div>
</div>
<br>


